PROJECT_ID=undp-project-documents
REGION=northamerica-northeast1
BUCKET_NAME=undp-documents-llm-prod

YEARS=2023,2024,2025,2026
COUNTRIES=Lebanon,Egypt,Iraq,Jordan,Libya,State of Palestine,Syrian Arab Republic,Yemen
MAX_NEW_PDFS=100

DOCUMENT_KEYWORDS=project document,prodoc,amendment

RAW_PDF_PREFIX=raw/pdf
PDF_TEXT_PREFIX=extracted/pdf_text
OCR_JSON_PREFIX=ocr/document_ai_json
OCR_TEXT_PREFIX=ocr/extracted_text
COMBINED_TEXT_PREFIX=processed/combined_text
CHUNKS_PREFIX=processed/chunks
EMBEDDINGS_PREFIX=embeddings
METADATA_PREFIX=metadata
LOGS_PREFIX=logs

EMBEDDING_MODEL=gemini-embedding-001
GENERATION_MODEL=gemini-2.5-flash

DOCUMENT_AI_LOCATION=us
DOCUMENT_AI_PROCESSOR_ID=a13faf394c2fce1